# This .gitignore is meant to be used in any software repository

# Compiled files
*.d
*.o
*.elf
*.hex

# EEPROM binary files
eeprom.bin

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Xcode files
xcuserdata

# Eclipse files
.project
.cproject
.settings

# PyCharm files
.idea

# VS Code files
.vscode

# Compiled Python files
*.pyc
